<section class="widget">
	<div class="widget-body">
		<div class="widget-top-overflow text-white">
			<div class="height-150 overflow-hidden">
				<img class="img-fluid" src="https://static1.squarespace.com/static/54faf350e4b0f473c20ce261/t/54fe21b2e4b05f158aaa6b43/1425940920715/running+image+2.jpg?format=2500w">
			</div>

		</div>
		<div class="row">
			<div class="col-md-5 col-12 text-center">
				<div class="post-user post-user-profile">
					<span class="thumb-xl">
                <img class="rounded-circle" src="https://avatars3.githubusercontent.com/u/10260045?s=400&v=4" alt="...">
              </span>
					<h3 class="fw-normal"><span class="fw-semi-bold">Blascone</span></h3>
					<p>Running for stats!</p>
				</div>
			</div>

		</div>
	</div>
</section>