<!--
<main role="main">
  <div class="content">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3" *ngIf="user"> Welcome {{user.firstname}}!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a
          jumbotron and three supporting pieces of content. Use it as a starting point to create something more
          unique.</p>
      </div>
    </div>
  </div>
  <app-footer class="footer"></app-footer>
</main>
-->
<div class="container">

  <ol class="breadcrumb">
    <li class="breadcrumb-item">YOU ARE HERE</li>
    <li class="active breadcrumb-item">Profile</li>
  </ol>
  <h1 class="page-title">User - <span class="fw-semi-bold">Profile</span></h1>
  <div class="row profile">
    <div class="col-lg-6 col-12">
      <section class="widget">
        <div class="widget-body">
          <div class="widget-top-overflow text-white">
            <div class="height-250 overflow-hidden">
              <img class="img-fluid" src="../../../assets/img/miscellaneous/runSnow.jpg">
            </div>

          </div>
          <div class="row">
            <div class="col-md-5 col-12 text-center">
              <div class="post-user post-user-profile">
              <span class="thumb-xl">
                <img class="rounded-circle" src="{{user.profile}}" alt="...">
              </span>
                <h5 class="fw-normal">{{user.firstname}} <span class="fw-semi-bold">{{user.lastname}}</span></h5>
                <p>Running for stats!</p>
                <a href="#" class="btn btn-danger btn-sm mt">
                  &nbsp;Send
                  <i class="fa fa-envelope ml-xs"></i>&nbsp;
                </a>
                <ul class="contacts">
                  <li><i class="fa fa-lg fa-user fa-fw mr-xs"></i><a href="#"> {{user.username}}</a></li>
                  <li><i class="fa fa-lg fa-map-marker fa-fw mr-xs"></i><a href="#"> {{user.city}}, {{user.country}}</a>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </section>
    </div>
    <div class="col-lg-6 col-12">
      <section class="activities">
        <h2 class="m-l-1">Activities</h2>
        <section class="event">

          <h5 class="event-heading"><i class="fa fa-lg fa-check fa-fw mr-xs"></i> <a href="#">Parchetto di Tor di Quinto
            Run</a></h5>
          <p class="text-muted">February 22, 2014 at 01:59 PM</p>

          <div class="row">

            <div class="col-xs-6 col-md-4">

              <div class="panel status panel-warning">
                <div class="panel-heading">
                  <h1 class="panel-title text-center">4.42km</h1>
                </div>
                <div class="panel-body text-center">
                  <strong>Distance</strong>
                </div>
              </div>

            </div>
            <div class="col-xs-6 col-md-4">

              <div class="panel status panel-success">
                <div class="panel-heading">
                  <h1 class="panel-title text-center">5:25/km</h1>
                </div>
                <div class="panel-body text-center">
                  <strong>Average Pace</strong>
                </div>
              </div>


            </div>
            <div class="col-xs-6 col-md-4">

              <div class="panel status panel-info">
                <div class="panel-heading">
                  <h1 class="panel-title text-center">23:56</h1>
                </div>
                <div class="panel-body text-center">
                  <strong>Moving Time</strong>
                </div>
              </div>

            </div>
          </div>



          <footer>
            <ul class="post-links">
              <li><a href="#">1 hour</a></li>
              <li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i> Like</span></a></li>
              <li><a href="#">Comment</a></li>
            </ul>
          </footer>
        </section>
        <section class="event">
          <h5 class="event-heading"><i class="fa fa-lg fa-check fa-fw mr-xs"></i> <a href="#">Villa Glori Run</a></h5>
          <p class="text-muted">February 2, 2014 at 01:59 PM</p>


          <div class="row">

            <div class="col-xs-6 col-md-4">

              <div class="panel status panel-warning">
                <div class="panel-heading">
                  <h1 class="panel-title text-center">4.42km</h1>
                </div>
                <div class="panel-body text-center">
                  <strong>Distance</strong>
                </div>
              </div>

            </div>
            <div class="col-xs-6 col-md-4">

              <div class="panel status panel-success">
                <div class="panel-heading">
                  <h1 class="panel-title text-center">5:25/km</h1>
                </div>
                <div class="panel-body text-center">
                  <strong>Average Pace</strong>
                </div>
              </div>


            </div>
            <div class="col-xs-6 col-md-4">

              <div class="panel status panel-info">
                <div class="panel-heading">
                  <h1 class="panel-title text-center">23:56</h1>
                </div>
                <div class="panel-body text-center">
                  <strong>Moving Time</strong>
                </div>
              </div>

            </div>
          </div>


          <footer>
            <div class="clearfix">
              <ul class="post-links mt-sm pull-left">
                <li><a href="#">1 hour</a></li>
                <li><a href="#"><span class="text-danger"><i class="fa fa-heart-o"></i> Like</span></a></li>
                <li><a href="#">Comment</a></li>
              </ul>
            </div>

          </footer>
        </section>

      </section>
    </div>
  </div>
</div>
