<div class="sectionClass">
	<div class="fullWidth eight columns">
		<div class="projectFactsWrap ">
			<div class="item" data-number="12">
				<i class="far fa-smile fa-2x"></i>
				<p class="number">12</p>
				<span></span>
				<p>Total Activities</p>
			</div>
			<div class="item" data-number="55">
				<i class="fas fa-arrows-alt-h fa-2x"></i>
				<p class="number"><strong>55</strong> km</p>
				<span></span>
				<p>Total distance</p>
			</div>
			<div class="item" data-number="359">
				<i class="far fa-clock fa-2x"></i>
				<p class="number"><strong>359</strong> hours</p>
				<span></span>
				<p>Total time</p>
			</div>
			<div class="item" data-number="246">
				<i class="fas fa-bolt fa-2x"></i>
				<p class="number"><strong>5.40</strong> /km</p>
				<span></span>
				<p>Average Pace</p>
			</div>
		</div>
	</div>
</div>